<h1>Pages#contact</h1>

<p><%= number_to_phone "4444444444" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "87.4" %></p>

<p><%= number_with_delimiter "4444444444" %></p>
