<h1>Pages#contact</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <p><%= number_to_phone "4444444444" %></p>

    <p><%= number_to_currency "150" %></p>

    <p><%= number_to_percentage "87.4" %></p>

    <p><%= number_with_delimiter "4444444444" %></p>
  </div>
  
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.4418706246393!2d-111.9026345842224!3d40.774298879325265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f5aa4c90b8fd%3A0xe5a77e342bac4f4c!2sWest+High+School!5e0!3m2!1sen!2sus!4v1500992739955" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
