<div>
  <div><%= link_to "Home", root_path %></div>
  <div><a href="https://cm-workspace-roundabout1.c9users.io/about%20me">About</a></div>
  <!-- <div>< # %= link_to "About", path %></div> -->
  <div><%= link_to "Contact", contact_path %></div>
  <div><%= link_to "Blog", blogs_path %></div>
  <div><%= link_to "Portfolio", portfolios_path %></div>
</div>